<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login50-form validate-form" action="/signup" method="post" th:object="${user}" enctype="multipart/form-data">
					<span class="login100-form-title p-b-43">
						Welcome to Navigators
					</span>


                <div>
                    <div class="d-flex justify-content-center mb-4">
                        <img id="selectedAvatar" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                             class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;" alt="placeholder" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-primary btn-rounded">
                            <label class="form-label text-white m-1" for="customFile2">Choose file</label>
                            <input type="file" class="form-control d-none" id="customFile2" name="file" onchange="displaySelectedImage(event, 'selectedAvatar')" />
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="name" th:field="*{name}">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Name</span>
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" th:field="*{email}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" th:field="*{address}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Address</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" th:field="*{password}">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Create Account
                    </button>
                </div>

            </form>

            <div class="login100-more" style="background-image: url('/images/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>

    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/popper.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>